# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/mediator/lib/
/*/node_modules/
/chatroom/server/lib/
/chatroom/server/bin/
/chatroom/client/node_modules/

/chatroom/client/.next/
/chatroom/server/node_modules/
/chatroom/server/fhe_client/client
/chatroom/server/12899953925275038130
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
